/* Satoshi Font */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/WEB/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('/fonts/WEB/fonts/Satoshi-Variable.woff') format('woff'),
       url('/fonts/WEB/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/WEB/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
       url('/fonts/WEB/fonts/Satoshi-VariableItalic.woff') format('woff'),
       url('/fonts/WEB/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f2;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2f3b43;
}

::-webkit-scrollbar-thumb {
  background: #7c8a93;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8dfe6;
}

.diagonal-clip {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.diagonal-clip-reverse {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.diagonal-stripe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  background: #c8dfe6;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 0;
}
